<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nav-style.css">
    <link rel="stylesheet" href="/css/dashboard-style.css">
</head>

<body>
    {{>header}}
    <main id="dashboard">
        <ul>
            <div>
                <a href="/dashboard/hospitalbeds">
                    <h1>Hospitals and beds</h1>
                </a>
                <p>
                    Displays the details of the Hospital beds provided by the Government.
                </p>
            </div>
            <div>
                <a href="/dashboard/medicalbeds">
                    <h1>Medical Colleges and beds</h1>
                </a>
                <p>
                    Displays the details of the Medical College beds funded by the society.
                </p>
            </div>
        </ul>
    </main>


    {{>footer}}
    <script src="/js/lottie.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/.js"></script>
</body>

</html>