<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nav-style.css">
</head>

<body>
    {{>header}}
    <main id="dashboard">
        <ul id = "nav-links" align = "center">
           <a href = "/hospitalbeds.hbs"><h1>Hospitals and beds</h1></a> 
           </br></br></br> 
            <a href = "/medical.hbs"><h1>Medical Colleges and beds</h1></a> 
           </ul>
    </main>
    {{>footer}}
    <script src="/js/lottie.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/.js"></script>
</body>

</html>
