<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nav-style.css">
</head>

<body>
    {{>header}}
    <main id="home">
        <div id="hero-text">
            <ul>
                <h2>Symptoms of COVID-19</h2>
                <h4>Most common symptoms:</h4>
                <ul>
                    <li>fever.</li>
                    <li>dry cough.</li>
                    <li>tiredness.</li>

                </ul>
                <h4>Less common symptoms:</h4>
                <ul>
                    <li>aches and pains.</li>
                    <li>loss of taste or smell.</li>
                    <li>sore throat.</li>
                </ul>
                <h4>Serious symptoms:</h4>
                <ul>
                    <li>difficulty breathing or shortness of breath.</li>
                    <li>chest pain or pressure.</li>
                    <li>loss of speech or movement.</li>
                </ul>

                <h2>Public Advice</h2>

                <p> Studies show <b>hydroxychloroquine</b> does not have clinical benefits in treating COVID-19 </p>
                <p> Adding pepper to your soup or other meals DOES NOT prevent or cure COVID-19</p>
                <p> Spraying and introducing bleach or another disinfectant into your body WILL NOT protect you
                    against COVID-19 and can be dangerous <a target="blank"
                        href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019?gclid=Cj0KCQjwqfz6BRD8ARIsAIXQCf1RcblKdSyKITdRjFmhLlKNGu_y53M2hBdYCXKOsVT_KnfQuYSVUoQaAm5GEALw_wcB">(read
                        more...)
                    </a>
                </p>
            </ul>

        </div>
        <div id="hero-img"></div>
    </main>
    {{>footer}}
    <script src="/js/lottie.js"></script>
    <script src="/js/app.js"></script>

</body>

</html>