<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/nav-style.css">
    <link rel="stylesheet" href="/css/ratio-style.css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>
    {{>header}}
    <main id="ratio">
        <h1></h1>
        <p></p>
        <div id="chart">
            <h1>Total Confirmed Cases vs Total Samples Tested</h1>
            <div></div>
        </div>
        <div id="filters">
            <label for="state">State:</label>
            <select name="state" id="state">
                <option value="India">All</option>
                <option value="India">Andhra Pradesh</option>
                <option value="India">Arunachal Pradesh</option>
                <option value="India">Assam</option>
                <option value="India">Bihar</option>
                <option value="India">Chhattisgarh</option>
                <option value="India">Goa</option>
                <option value="India">Haryana</option>
                <option value="India">Himachal Pradesh</option>
                <option value="India">Jammu and Kashmir</option>
                <option value="India">Jharkhand</option>
                <option value="India">Karnataka</option>
                <option value="India">Kerala</option>
                <option value="India">Madhya Pradesh</option>
                <option value="India">Maharashtra</option>
                <option value="India">Manipur</option>
                <option value="India">Meghalaya</option>
                <option value="India"> Mizoram</option>
                <option value="India">Nagaland</option>
                <option value="India">Rajasthan</option>
                <option value="India">Sikkim</option>
                <option value="India">Tamil Nadu</option>
                <option value="India">Telangana</option>
                <option value="India">Tripura</option>
                <option value="India">Uttar Pradesh</option>
                <option value="India">Uttarakhand</option>
                <option value="India">West Bengal</option>
            </select>

            <label for="age">Age Group:</label>
            <select name="age" id="age">
                <option value=""></option>
                <option value="0-9">0-9</option>
                <option value="10-19">10-19</option>
                <option value="20-29">20-29</option>
                <option value="30-39">30-39</option>
                <option value="40-49">40-49</option>
                <option value="50-59">50-59</option>
                <option value="60-69">60-69</option>
            </select>

            <label for="gender">Genders:</label>
            <select name="gender" id="gender">
                <option value=""></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Transgender">Transgender</option>
            </select>
            <button id="render">Render Chart</button>
            <button>Download</button>
        </div>
    </main>
    {{>footer}}
    <script src="/js/lottie.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/ratio-graph.js"></script>
</body>

</html>