<nav>
    <div id="logo">
        <h1>LOGO</h1>
    </div>
    <ul id="nav-links">
        <li>Contact</li>
        <li>Notifications</li>
        <li>Dashboard</li>
        <li>Ratio</li>
    </ul>
</nav>