<nav>
    <div id="logo">
        <h1><a href="/">LOGO</a></h1>
    </div>
    <ul id="nav-links">
        <li><a href="/contact">Contact</a></li>
        <li><a href="/notification">Notifications</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/ratio">Ratio</a></li>
    </ul>
</nav>
