<nav>
    <div id="logo">
        <a href="/">
            <img src="/img/logo.jpg" alt="LOGO" /></a>
    </div>
    <ul id="nav-links">
        <li><a href="/contact">Contact</a></li>
        <li><a href="/notification">Notifications</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/ratio">TCC vs TST</a></li>
    </ul>
</nav>