#dashboard {
  height: 86vh;
  position: relative;
}

#dashboard h1 {
  color: #179dbe;
  font-size: 30px;
}

#dashboard ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
