#ratio {
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chart {
  height: 300px;
  width: 300px;
}

#chart h1 {
  color: #179dbe;
}

#chart div {
  border: 2px black;
}
